[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
opencv-python = "*"
dlib = "==19.24.0"
face-recognition = "*"
psycopg2 = "*"
cmake = "*"

[dev-packages]

[requires]
python_version = "3.10"
