.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  
  width:100%;
  margin-left:0;
  height:720px;
  min-width:200px;
  max-width:1920px;
  margin:auto;
  background-color:rgba(255, 255, 255, 1);
  overflow:hidden;
}
.Frame-outer{
  
  z-index:2;
}
.Background{
  position:relative;
  z-index:3;
  
  margin-left:-10px;
  margin-right:-20px;
  flex-grow:1;
  height:740px;
  margin-top:-10px;
  margin-bottom:-10px;
  min-height:740px;
}
.Background-outer{
  
  z-index:3;
  position:relative;
  display:flex;
}
.milad-fakurian-nY14F{
  position:relative;
  z-index:4;
  
  margin-left:10px;
  margin-right:10px;
  flex-grow:1;
  height:720px;
  margin-top:10px;
  margin-bottom:10px;
  min-height:720px;
  content:url(assets/images/milad_fakurian_nY14Fs8pxT8_unsplash_1.png);
}
.milad-fakurian-nY14F-outer{
  
  z-index:4;
  position:relative;
  display:flex;
}
.Frame-8{
  position:relative;
  z-index:5;
  
  margin-left:0px;
  width:378px;
  height:91px;
  margin-top:-672px;
  margin-bottom:581px;
  min-height:91px;
  background-color:rgba(251, 227, 242, 1);
  border-radius:20px;
}
.Frame-8-outer{
  
  z-index:5;
  justify-content:center;
  position:relative;
  display:flex;
}
.Contact-Us{
  position:relative;
  z-index:6;
  
  margin-left:0px;
  width:246px;
  margin-top:16px;
  margin-bottom:16px;
  min-height:59px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-family:Roboto;
  font-weight:400;
  font-size:50px;
  line-height:58px;
}
.Contact-Us-outer{
  
  z-index:6;
  justify-content:center;
  position:relative;
  display:flex;
}
.home{
  position:relative;
  z-index:8;
  
  margin-left:1114px;
  width:58px;
  height:58px;
  margin-top:-656px;
  margin-bottom:598px;
  min-height:58px;
  overflow:hidden;
}
.home-outer{
  
  z-index:8;
  justify-content:center;
  position:relative;
  display:flex;
}
.Vector{
  position:relative;
  z-index:10;
  
  margin-left:0.5px;
  width:16.5px;
  height:45.12068965517241%;
  margin-top:48.275862068965516%;
  content:url(assets/images/Vector.png);
}
.Vector-outer{
  
  z-index:10;
  justify-content:center;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Vector-1{
  position:relative;
  z-index:9;
  
  margin-left:-0.5px;
  width:45.5px;
  height:86.77586206896552%;
  margin-top:6.896551724137931%;
  content:url(assets/images/Vector_1.png);
}
.Vector-1-outer{
  
  z-index:9;
  justify-content:center;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.Frame-9{
  position:relative;
  z-index:7;
  
  margin-left:1px;
  width:777px;
  height:497px;
  margin-top:-552px;
  margin-bottom:55px;
  min-height:497px;
  background-color:rgba(251, 227, 242, 1);
  border-radius:44px;
}
.Frame-9-outer{
  
  z-index:7;
  justify-content:center;
  position:relative;
  display:flex;
}
