<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html prefix="og: http://ogp.me/ns#" lang="en" style="height: 100%">

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

  <title>About Us</title>
  <meta name="description" content="About Us Description">
  <meta property="og:title" content="About Us">
  <meta property="og:description" content="About Us Description">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quantico&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css' ) }}">

</head>

<body class="websiteBody">
  <div class="Page-outer">
    <div id="Page" data-name="Page" class="Page">
      <div class="Frame-outer">
        <div id="Frame" data-name="About Us" class="Frame">
          <div class="Background-outer">
            <div id="Background" data-name="Background" class="Background">
              <div class="milad-fakurian-nY14F-outer">
                <img id="milad-fakurian-nY14F" data-name="milad-fakurian-nY14Fs8pxT8-unsplash 1"
                  alt="milad-fakurian-nY14Fs8pxT8-unsplash 1" class="milad-fakurian-nY14F" />
              </div>
            </div>
          </div>
          <div class="Frame-8-outer">
            <div id="Frame-8" data-name="Frame 8" class="Frame-8">
              <div class="About-Us-outer">
                <div id="About-Us" data-name="About Us" class="About-Us">
                  <div key="0">About Us</div>
                </div>
              </div>
            </div>
          </div>
          <div class="home-outer">
            <div id="home" data-name="home" class="home">
              <a href="{{url_for('home')}}">
                <div class="Vector-outer">
                  <img id="Vector" data-name="Vector" alt="Vector" class="Vector" />
                </div>
                <div class="Vector-1-outer">
                  <img id="Vector-1" data-name="Vector" alt="Vector" class="Vector-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="Frame-9-outer">
            <div id="Frame-9" data-name="Frame 9" class="Frame-9">
            </div>
          </div>
        </div>
      </div>


</body>

</html>