<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fun Zone</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alata&family=Amaranth&family=Lobster+Two&family=Philosopher&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/funzone.css' ) }}">
</head>
<body>
    <a href="{{url_for('canvass')}}" class="btn1"><span><div class="b1">Air</div> Canvas</span></a>
    <a href="{{url_for('collecting')}}" class="btn2"><span>Sleep Detection</span></a>
    <a href="{{url_for('drowsness')}}" class="btn3"><span>Drowseness <div class="b3">Detector</div></span></a>
    <a href="{{url_for('animals')}}" class="btn4"><span>Animal <div class="b4">World</div></span></a>
</body>
</html>