<!DOCTYPE html>
<html lang="en" style="height: 100%">

<head>
  <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5" />

  <title>Teacher's login page</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/teacher.css' ) }}">


</head>

<body class="websiteBody">
  <div class="Page-outer">
    <div id="Page" data-name="Page" class="Page">
      <div class="Frame-outer">
        <div id="Frame" data-name="Teachers login page" class="Frame">
          <div class="Background-outer">
            <div id="Background" data-name="Background" class="Background">
              <div class="milad-fakurian-nY14F-outer">
                <img id="milad-fakurian-nY14F" data-name="milad-fakurian-nY14Fs8pxT8-unsplash 1"
                  alt="milad-fakurian-nY14Fs8pxT8-unsplash 1" class="milad-fakurian-nY14F" />
              </div>
            </div>
          </div>
          <div class="Dashboard-outer">
            <div id="Dashboard" data-name="Dashboard" class="Dashboard">
              <div class="Frame-7-outer">
                <div id="Frame-7" data-name="Frame 7" class="Frame-7">
                  <div class="teacher-vector-outer">
                    <img id="teacher-vector" data-name="teacher vector" alt="teacher vector" class="teacher-vector" />
                  </div>
                  <div class="Welcome-back--Samrid-outer">
                    <div id="Welcome-back--Samrid" data-name="Welcome back, Samridhi!" class="Welcome-back--Samrid">
                      <div key="0"><strong> WELCOME BACK, TEACHER!</strong></div>
                      <p>Here's your control panel.
                        You may browse through the attendance of your class.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="lower-part-outer">
            <div id="lower-part" data-name="lower part" class="lower-part">
              <div class="Frame-2-outer">
                <div id="Frame-2" data-name="Frame 2" class="Frame-2">
                  <div class="Total-present-outer">
                    <div id="Total-present" data-name="Total present" class="Total-present">
                      <div class="Total-Presnt-outer">
                        <div id="Total-Presnt" data-name="Total Presnt" class="Total-Presnt">
                          <div key="0">Present</div>
                        </div>
                      </div>
                      <div class="q68-outer">
                        <div id="q68" data-name="68" class="q68">
                          <div key="0">{{p}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Total-absent-outer">
                    <div id="Total-absent" data-name="Total absent" class="Total-absent">
                      <div class="Total-Absent-outer">
                        <div id="Total-Absent" data-name="Total Absent" class="Total-Absent">
                          <div key="0">Absent</div>
                        </div>
                      </div>
                      <div class="q12-outer">
                        <div id="q12" data-name="12" class="q12">
                          <div key="0">{{a}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="Total-students-outer">
                    <div id="Total-students" data-name="Total students" class="Total-students">
                      <div class="Total-Students-outer">
                        <div id="Total-Students" data-name="Total Students" class="Total-Students">
                          <div key="0">Total Students</div>
                        </div>
                      </div>
                      <div class="q80-outer">
                        <div id="q80" data-name="80" class="q80">
                          <div key="0">{{t}}</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Frame-4-outer">
                <div id="Frame-4" data-name="Frame 4" class="Frame-4">
                  <div class="Download-Attendance-outer">
                    <div id="Download-Attendance" data-name="Download Attendance" class="Download-Attendance">
                      <div key="0"><a href="/" class="a1"> Return Home</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Frame-3-outer">
                <div id="Frame-3" data-name="Frame 3" class="Frame-3">
                  <div class="View-Attendance-outer">
                    <div id="View-Attendance" data-name="View Attendance" class="View-Attendance">
                      <div key="0"><a href="{{url_for('Index')}}" class="a2">View Attendance</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>